[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
pandas = "*"
scikit-learn = "*"

[dev-packages]
sklearn = "*"
pandas = "*"
scikit-learn = "*"

[requires]
python_version = "3.9"
